.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
}
.mainPage {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.mainPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainPage {
    grid-row-gap: 0px;
    min-width: 100vw;
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainPage > * {
    grid-column: 4;
  }
}
.img__mzptP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  justify-self: stretch;
  width: 100%;
  margin-left: 0px;
  left: auto;
  top: auto;
  max-height: 500px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__mzptP > picture > img {
  object-fit: cover;
}
.img__mzptP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__y3Gu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 800;
  margin-top: 20px;
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 20px;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  margin-bottom: 35px;
  width: 1em;
}
.whatIsPostGenre {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #ffce84;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 20px 0 8px;
}
.whatIsPostGenre > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .whatIsPostGenre > * {
    grid-column: 4;
  }
}
.h1__pIqe6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.5em;
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  min-width: 0;
}
.img__qeXfy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
}
.img__qeXfy > picture > img {
  object-fit: cover;
}
.img__qeXfy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___5BaGj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
.link___6FSq {
  position: relative;
  justify-self: flex-start;
  color: #000000;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 20px;
}
.liveFromOakland {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #84fff8;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 20px 0 8px;
}
.liveFromOakland > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .liveFromOakland > * {
    grid-column: 4;
  }
}
.h1__tpWXo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.5em;
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  min-width: 0;
}
.img__geOdk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
}
.img__geOdk > picture > img {
  object-fit: cover;
}
.img__geOdk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__frWix {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
.link__tLx9R {
  position: relative;
  justify-self: flex-start;
  color: #000000;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 20px;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.dataFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__ljsdU {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ljsdU {
    display: none;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7MRNi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tfPtR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
