.postGenre {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.postGenre > * {
  grid-column: 4;
}
.navBar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.bandInfo {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #f8bb53;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0 8px;
}
.bandInfo > * {
  grid-column: 4;
}
.lfo2NewObidPoster1 {
  background: url("/plasmic/pg_site/images/screenshot20240119At085105Png.png") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 100%;
  height: 465px;
  display: block;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.name {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  justify-self: center;
  max-width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 11px 0 8px;
}
.name > * {
  grid-column: 4;
}
.h1 {
  font-size: 2rem;
  text-align: left;
  justify-self: flex-start;
  margin-left: 0px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-top: 5px;
}
.description {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.description > * {
  grid-column: 4;
}
.about {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  max-width: 400px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 12px;
  padding: 15px;
}
.text__ghNr1 {
  display: block;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 298px;
  position: relative;
  left: auto;
  top: auto;
  font-style: italic;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 12px;
}
.askedToDefineTheirGenreFunkyLampUsuallyResortsToItsComplicatedAsAMeltingPotOfFunkRockAlternativeFolkIndieAndPunkItsComplicatedMightCaptureTheirSoundBetterThanAnyCategoryCouldTheirContagiousStagePreferenceAndMemorableChorusesSeeCrowdsDancingAndSingingAlongAtEveryShow {
  display: block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.39687;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: 20px;
  margin-left: 10px;
  max-width: 348px;
  min-width: 0;
}
.figmaPaste2 {
  display: block;
  position: relative;
  width: 326px;
  height: 71px;
  align-self: center;
  margin-top: 15px;
  flex-shrink: 0;
}
.rectangle38918 {
  background: rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 326px;
  height: 71px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 12px;
}
.text__hr3R9 {
  display: block;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 88px;
  top: 12px;
}
.about3 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  max-width: 400px;
  margin-top: 25px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 12px;
  padding: 15px 15px 5px;
}
.text__j8LnB {
  display: block;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 298px;
  position: relative;
  left: auto;
  top: auto;
  font-style: italic;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 12px;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 381px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.link {
  position: relative;
  color: #000000;
}
.freeBox___7Non {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 110.4%;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  flex-shrink: 1;
  margin-right: 0px;
  border-radius: 15px;
  padding: 0px;
  border-width: 2px;
  border-style: solid;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 35%;
  width: 200px;
  height: auto;
  max-height: 90px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__kgZi4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__o4BfG {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
  text-transform: uppercase;
  white-space: pre;
  text-overflow: clip;
  overflow: hidden;
  min-width: 0;
}
.text__uYrE {
  position: relative;
  width: 225px;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  max-height: 50px;
  font-size: 15px;
  font-weight: 500;
}
.text__lEuA {
  position: relative;
  width: 235px;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  max-height: 50px;
  font-size: 15px;
  font-weight: 500;
  display: none;
}
.figmaPaste {
  display: block;
  position: relative;
  width: 339px;
  height: 311px;
  margin-left: 0px;
  margin-bottom: 13px;
  flex-shrink: 0;
}
.rectangle38961 {
  background: rgba(255, 255, 255, 1);
  width: 339px;
  height: 91px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.pitterPatter9FiftySevenSouthsiders {
  display: block;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 9px;
}
.locationFriday112023 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 57px;
}
.rectangle38962 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 326px;
  height: 91px;
  display: block;
  position: absolute;
  left: 9px;
  top: 0px;
  border-radius: 12px;
}
.text__iBsZe {
  display: block;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 9px;
}
.atwoodChurchSaturday020324Time700Pm {
  display: block;
  font-size: 12px;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 57px;
}
.rectangle38963 {
  background: url("/plasmic/pg_site/images/rectangle38963.jpg") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 106px;
  height: 91px;
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: 9px;
  top: 0px;
}
.pitterPatter9FiftySevenSouthsiders2 {
  display: block;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 9px;
}
.locationFriday1120232 {
  display: block;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 57px;
}
.rectangle38976 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 326px;
  height: 91px;
  display: block;
  position: absolute;
  left: 9px;
  top: 0px;
  border-radius: 12px;
}
.text__eUZjG {
  display: block;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 168px;
  height: 36px;
  position: absolute;
  left: 127px;
  top: 9px;
}
.text__dE1 {
  display: block;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 35px;
}
.rectangle38977 {
  background: url("/plasmic/pg_site/images/screenshot20240119At091851Png.png") -8px -1px / 118px 91px no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 106px;
  height: 91px;
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: 9px;
  top: 0px;
}
.rectangle38978 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 326px;
  height: 91px;
  display: block;
  position: absolute;
  left: 9px;
  top: 106px;
  border-radius: 12px;
}
.rectangle38979 {
  background: url("/plasmic/pg_site/images/rectangle38979.jpg") -22px 0px / 137px 91px no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 106px;
  height: 91px;
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: 9px;
  top: 106px;
}
.text__f56Ne {
  display: block;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 115px;
}
.cSouthsiders {
  display: block;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 221px;
}
.locationFriday1120233 {
  display: block;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 269px;
}
.rectangle38980 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 326px;
  height: 91px;
  display: block;
  position: absolute;
  left: 9px;
  top: 212px;
  border-radius: 12px;
}
.rectangle38981 {
  background: url("/plasmic/pg_site/images/screenshot20240119At091907Png.png") 0px 0px / 118px 91px no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 106px;
  height: 91px;
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: 9px;
  top: 212px;
}
.text__ne0Cq {
  display: block;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 142px;
}
.text__eGj93 {
  display: block;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 221px;
}
.text__pnZwI {
  display: block;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 127px;
  top: 248px;
}
.footer2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
