.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  justify-self: flex-start;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__l836 {
  object-fit: cover;
  height: 40px;
}
.img__l836 > picture > img {
  object-fit: cover;
}
.img__o6RKl {
  object-fit: cover;
}
.img__o6RKl > picture > img {
  object-fit: cover;
}
.img__fm7Qy {
  object-fit: cover;
}
.img__fm7Qy > picture > img {
  object-fit: cover;
}
.img__iAAj8 {
  position: relative;
  object-fit: cover;
  max-width: 50%;
  width: 50%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  left: auto;
  top: auto;
  align-self: flex-start;
  display: none !important;
}
.img__iAAj8 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__iAAj8 {
    display: none !important;
  }
}
.img__b7KuT {
  position: relative;
  object-fit: cover;
  max-width: 50%;
  width: 50%;
  min-width: 50%;
  align-self: flex-start;
}
.img__b7KuT > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__b7KuT {
    display: none !important;
  }
}
.events {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 600;
}
.artists {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #000000;
}
.blog {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #000000;
}
.team {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 600;
}
