.postGenre {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.postGenre > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .postGenre > * {
    grid-column: 4;
  }
}
.navBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
}
.mainPage {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px 0px;
}
.mainPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainPage {
    grid-row-gap: 0px;
    min-width: 100vw;
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainPage > * {
    grid-column: 4;
  }
}
.img__mzptP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  justify-self: stretch;
  width: 100%;
  margin-left: 0px;
  left: auto;
  top: auto;
  max-height: 70vh;
  height: 70vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__mzptP > picture > img {
  object-fit: cover;
}
.text__shQh3 {
  position: absolute;
  left: 36px;
  top: 257px;
  z-index: 1;
  color: #000000;
  font-weight: 700;
  font-size: 31px;
  background: #ffffff99;
  padding: 15px;
}
.upcomingEvents {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #000000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 20px 0 8px;
}
.upcomingEvents > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .upcomingEvents > * {
    grid-column: 4;
  }
}
.freeBox__wTiqA {
  display: block;
  position: relative;
  width: 100%;
  height: 405px;
  max-width: 385px;
  justify-self: center;
  background: #ffffff;
  margin-right: 0px;
  min-width: 0;
  border-radius: 10px;
  padding: 8px 13px;
}
.allArtists:global(.__wab_instance) {
  max-width: 93%;
  position: absolute;
  margin-bottom: 13px;
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
.link__yfvQn {
  position: relative;
  color: #000000;
}
.freeBox__g8Dgx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 110.4%;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  flex-shrink: 1;
  margin-right: 0px;
  border-radius: 10px;
  padding: 0px;
  border-width: 2px;
  border-style: solid;
}
.img__gdke {
  object-fit: cover;
  max-width: 35%;
  width: 200px;
  height: auto;
  max-height: 90px;
  position: relative;
  flex-shrink: 0;
}
.img__gdke > picture > img {
  object-fit: cover;
}
.freeBox__vpqZt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__uWcUm {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
  text-transform: uppercase;
  white-space: pre;
  text-overflow: clip;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.text__zmLpO {
  position: relative;
  width: 235px;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  max-height: 50px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.text__gMwK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  max-height: 50px;
  font-size: 15px;
  font-weight: 500;
  text-overflow: clip;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.figmaPaste {
  display: block;
  position: absolute;
  width: 373px;
  height: 394px;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.text__giFr5 {
  display: block;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 28px;
  top: 23px;
}
.rectangle38929 {
  background: none;
  width: 339px;
  height: 91px;
  display: block;
  left: 23px;
  top: 82px;
  position: absolute;
}
.pitterPatter9FiftySevenSouthsiders {
  display: block;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 91px;
}
.locationFriday112023 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 139px;
}
.rectangle38930 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 300px;
  height: 91px;
  display: block;
  position: absolute;
  left: 32px;
  top: 82px;
  border-radius: 12px;
}
.link__wyYiH {
  display: block;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 91px;
}
.atwoodChurchSaturday020324Time700Pm {
  display: block;
  font-size: 12px;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 139px;
}
.rectangle38931 {
  background: url("/plasmic/pg_site/images/rectangle38963.jpg") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 106px;
  height: 91px;
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: 32px;
  top: 82px;
}
.rectangle38955 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 300px;
  height: 91px;
  display: block;
  position: absolute;
  left: 32px;
  top: 185px;
  border-radius: 12px;
}
.link__pVuGi {
  display: block;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 194px;
}
.atwoodChurchFriday021724Time700Pm {
  display: block;
  font-size: 12px;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 242px;
}
.rectangle38956 {
  background: url("/plasmic/pg_site/images/rectangle38956.jpg") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 106px;
  height: 91px;
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: 32px;
  top: 185px;
}
.rectangle38957 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 300px;
  height: 91px;
  display: block;
  position: absolute;
  left: 32px;
  top: 288px;
  border-radius: 12px;
}
.link__oeDaP {
  display: block;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 297px;
}
.atwoodChurchFriday030124Time700Pm {
  display: block;
  font-size: 12px;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 150px;
  top: 345px;
}
.rectangle38958 {
  background: url("/plasmic/pg_site/images/rectangle38958.jpg") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 106px;
  height: 91px;
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: 32px;
  top: 288px;
}
.whatis {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #000000;
  margin-bottom: 45px;
  height: 473px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 39px 0 0px;
}
.whatis > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .whatis > * {
    grid-column: 4;
  }
}
.text__vwnfG {
  display: block;
  font-size: 70px;
  font-family: "Koulen";
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 50px;
  color: rgba(255, 255, 255, 1);
}
.figmaPaste2 {
  display: block;
  position: relative;
  width: 359px;
  height: 368px;
  left: auto;
  top: auto;
  z-index: 1;
  margin-top: 15px;
}
.rectangle38940 {
  background: url("/plasmic/pg_site/images/rectangle38940.jpg") 0px -44px / 126px 189px no-repeat;
  width: 126px;
  height: 172px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle38941 {
  background: url("/plasmic/pg_site/images/rectangle38941.jpg") center center / cover no-repeat;
  width: 206px;
  height: 146px;
  display: block;
  position: absolute;
  left: 153px;
  top: 26px;
}
.rectangle38942 {
  background: url("/plasmic/pg_site/images/rectangle38942.jpg") center center / cover no-repeat;
  width: 138px;
  height: 172px;
  display: block;
  position: absolute;
  left: 95px;
  top: 196px;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section > * {
  grid-column: 4;
}
.figmaPaste3 {
  display: block;
  position: relative;
  width: 327px;
  height: 1214px;
  margin-top: 0px;
  padding-top: 0px;
}
.text___2B0Js {
  display: block;
  font-size: undefinedpx;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 327px;
  height: 419px;
  position: absolute;
  left: 0px;
  top: 39px;
}
.rectangle38944 {
  background: url("/plasmic/pg_site/images/rectangle38944.jpg") center center / cover no-repeat;
  width: 327px;
  height: 218px;
  display: block;
  position: absolute;
  left: 0px;
  top: 177px;
}
.rectangle38945 {
  background: url("/plasmic/pg_site/images/rectangle38945.jpg") center center / cover no-repeat;
  width: 327px;
  height: 218px;
  display: block;
  position: absolute;
  left: 0px;
  top: 688px;
}
.text__rleut {
  display: block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 327px;
  height: 259px;
  position: absolute;
  left: 0px;
  top: 456px;
}
.text__uNq2 {
  display: block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 327px;
  height: 247px;
  position: absolute;
  left: 0px;
  top: 967px;
}
.text__zlYLz {
  display: block;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 0px;
  top: 415px;
}
.text__djWoF {
  display: block;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 0px;
  top: 926px;
}
.footer2:global(.__wab_instance) {
  position: relative;
}
